body{
    font-family: Roboto;
    margin: 0;
    padding: 0;
}


#descuentos{
    background-color: #1CD1B0;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 0pt;
}

/****** Título página actual ******/

h1{
    background-color: #00669F;
    color: white;
    font-size: 24px;
    font-weight: 400;
    margin: 0px;
    padding: 10px;
}

h1 i{
    font-size: 36px;
    padding-right: 10px;
}

/****** Menú de navegación *******/
nav{
    background-color: black;
    color: white;
    text-align: right;
    padding: 10px;
}

nav a{
    text-decoration: none;
    padding: 10px;
    margin: 10px;
}

nav a:visited{
    color: white;
}

/******** Formulario *******/

.form{
    display: flex;
    margin: 10px;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 85%;
}

form label{
    margin-bottom: 3px;
}

form input{
    margin-bottom: 12px;
    outline: 'none';
}

#submit{
    background-color: #00669F;
    border-radius: 5px;
    border-style: none; 
    color: #F3F3F3;
    height: 48px;
    margin: 20px;
    text-align: center;
    width: 128px;
    align-self: center;
}

/***** FOOTER *****/
footer{
    align-items: center;
    background-color: #00669F;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    height: 100px;
    justify-content: space-around;
    padding: 10px;
}

footer img{
    width: 20%;
}

/********** MEDIA QUERIES **********/

@media (min-width: 640px){

/********* DESKTOP *********/

/***** header *****/
#descuentos{
    font-size: 24px;
}

h1{
    font-size: 36px;
}

form{
    width: 40%;
    align-content: center;
}

h2{
    font-size: 36px;
}

form input:focus{
    border: 3px solid orange;
}

form textarea:focus{
    border: 3px solid orange;
}

#submit:hover{
    background-color: #888888;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;   
}

footer img{
    width: 10%;
}
}
